.body-container-1 {
  height: 467px;
  background: linear-gradient(
    90deg,
    rgba(30, 42, 93, 0.04) 30.91%,
    rgba(48, 62, 130, 0.04) 64.79%,
    rgba(60, 80, 157, 0.04) 91.94%
  );
  display: flex;
  margin-top: 230px;
}

.body-container-1 > img {
  width: 384px;
  height: 468px;
  margin-right: 120px;
  margin-left: 205px;
}

.body-cover > h1 {
  color: #0e2368;
  font-family: Poppins;
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
  margin-top: 80px;
}
.body-cover > p {
  color: #444957;
  font-family: Open Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  width: 447px;
  height: 138px;
  margin-top: 20px;
}
.body-cover > button {
  display: flex;
  width: 132px;
  height: 42px;
  padding: 3px 26px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 21px;
  background: #e23744;
  border: none;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0.48px;
  margin-top: 20px;
}

.body-container-2 {
  min-height: 995px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.body-container-2 > h1 {
  color: #0e2368;
  font-size: 4vh;
  font-style: normal;
  font-weight: 600;
  position: relative;
  line-height: 42px;
  letter-spacing: 2.24px;
  margin-bottom: 80px;
  right: 370px;
}
.card {
  width: 18em;
  border-radius: 20.937px;
  border: 1.37px solid rgba(147, 162, 211, 0.38);
  background: #fff;
  padding: 27px;
  display: flex;
  justify-content: center;
  margin: 30px;
  flex-direction: column;
}
.card > img {
  width: 226px;
  height: 180px;
  border-radius: 21px;
}
.card > h2 {
  font-size: 2.4vh;
  margin-top: 10px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  color: #0e2368;
}
.card > p {
  font-size: 1.8vh;
  margin-top: 10px;
  color: #444957;
}

.card-container {
  display: flex;
  max-width: 100%;
  justify-content: space-between;
}
.card > button {
  margin-top: 27px;
  display: flex;
  width: 100px;
  height: 42px;
  padding: 3px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 21px;
  border: 1px solid #424961;
  color: #424961;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
}
.btn-container {
  margin: 30px;
}
.btn-1 {
  margin: 12px;
}
.btn-text {
  color: #424961;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 27.218px; /* 123.719% */
  position: relative;
  bottom: 4px;
}
@media screen and (max-width: 780px) {
  .body-container-1 > img {
    display: none;
  }
  .body-container-1 {
    display: flex;
    justify-content: center;
  }
  .body-container-2 {
    height: auto;
    justify-content: center;
  }
  .body-cover {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .body-cover > h1 {
    font-size: 30px;
  }
  .body-cover > p {
    font-size: 12px;
    width: 300px;
    margin-left: 50px;
    margin-right: 50px;
    height: 140px;
    text-align: center;
  }
  .body-cover > button {
    margin-top: 59px;
  }
  .card-container {
    flex-direction: column;
    justify-content: center;
  }
  .body-container-2 > h1 {
    font-size: 3.4vh;
    width: 100%;
    text-align: center;
    top: 88px;
    right: 0px;
  }
}
