* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Source Sans Pro;
}
.App{
  width: 800px;
}

header {
  display: flex;
  justify-content: space-between;
}
.header-banner-image {
  position: relative;
}
.header-banner-image > img,
.header-banner-image > svg {
  position: absolute;
}
.header-banner-image > img {
  width: 735px;
  height: 804px;
  margin-top: 2px;
  border-radius: 0px 0px 0px 198.902px;
}
.header-banner-image > svg {
  width: 752px;
  height: 839px;
  margin-bottom: 10px;
}
.header-container {
  margin: 97px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header-body {
  width: 345px;
  height: 207px;
  margin-top: 100px;
}
.header-body > h1 {
  font-size: 62px;
  font-style: normal;
  font-weight: 700;
  line-height: 69px;
}
.header-body > p {
  color: #444957;
  font-family: Open Sans;
  font-size: 16.445px;
  font-style: normal;
  font-weight: 400;
  line-height: 27.408px; /* 166.667% */
  margin-top: 26px;
}
.header-body > button {
  display: flex;
  justify-content: center;
  border: none;
  outline: none;
  width: 190px;
  height: 63px;
  padding: 14px 34px;
  align-items: center;
  gap: 7px;
  flex-shrink: 0;
  border-radius: 34px;
  background: #e23744;
  margin-top: 41px;
  color: #fff;
  font-family: "Gill Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}
